<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-icon name="contact" class="contact-icon"></ion-icon>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{cardName}}</ion-card-title>
      <ion-card-subtitle>{{cardSet}}</ion-card-subtitle>
    </ion-card-header>
    <div class="ion-card-img-container">
      <img src="{{imgSrc}}" class="card-img">
    </div>
  </ion-card>

  <ion-input placeholder="Rechercher une carte" class="card-search-input" (ionChange)="getCard(cardNameInput)" [(ngModel)]="cardNameInput"></ion-input> 
</ion-content>